$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
   /* max-width: 930px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*
    Custom styles
*/

#List .item{
  position: relative;
  min-height:400px;
  height:400px;
  overflow: hidden;
  margin-bottom: 20px;

  .image{
    overflow: hidden;
    max-width: 100%;
    text-align: center;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s ease-out 0.1s;
    -moz-transition: opacity 0.3s ease-out 0.1s;
    -o-transition: opacity 0.3s ease-out 0.1s;
    transition: opacity 0.3s ease-out 0.1s;
    background: url('') 50% 50% no-repeat;
    background-size: contain;
    min-height: 180px;
    img{
      display: none;
      margin: 0 auto;
      height: 200px;
    }
  }
  &:hover .image{
    opacity: 1;
  }

  .background{
    min-height: 400px;
    background: url('') 50% 50% no-repeat;
    //background-size: cover;
    -webkit-transition: opacity 0.3s ease-out 0.1s;
    -moz-transition: opacity 0.3s ease-out 0.1s;
    -o-transition: opacity 0.3s ease-out 0.1s;
    transition: opacity 0.3s ease-out 0.1s;
    opacity: 0.1;
    border-radius: 10px;
    border: 1px solid #555;
  }
  &:hover .background {
    opacity: 0;
  }

  .card-content{
    position: relative;
    margin-top:-400px;
    z-index: 100;
    padding: 20px 20px 20px;
    max-height: 400px;
    height: 400px;
    overflow: hidden;
  }

  .overlay{
    position: relative;
    background-color: #ddd;
    min-height: 400px;
    margin-top:-400px;
    z-index: 200;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out 0.1s;
    -moz-transition: opacity 0.3s ease-out 0.1s;
    -o-transition: opacity 0.3s ease-out 0.1s;
    transition: opacity 0.3s ease-out 0.1s;
  }

  &:hover .overlay{
    display: none;
    opacity: 0.1;
  }

  .btn{
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out 0.1s;
    -moz-transition: opacity 0.3s ease-out 0.1s;
    -o-transition: opacity 0.3s ease-out 0.1s;
    transition: opacity 0.3s ease-out 0.1s;
    position: absolute;
    top:10px;
    z-index: 201;
  }

  &:hover .btn{
    opacity: 1;
  }

  .btn-open{
    left:20px;
  }
  .btn-print{
    right:70px;
  }
  .btn-delete{
    right:20px;
  }
} // #List .item

@media screen and (min-width:$screen-lg-min){
  #List .item .image{
    height: 120px;
    min-height: 120px;
  }
}

@media screen and (max-width:$screen-md-min){
  #List .item .image{
    height: 250px;
    min-height: 250px;
  }
}

